@font-face {
    font-family: AvenirFett;
    src: url("./fonts/Avenir/AvenirFett.otf");
}

@font-face {
    font-family: AvenirNorm;
    src: url("./fonts/Avenir/AvenirNormal.otf");
}

h2 {
    color: #4c4c66;
    font-size: 1.7em;
}

#text {
    color: #6f6c99;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, auto);
    grid-gap: 80px;
}

<<<<<<< HEAD
.DashStockGridHeader {
    font-size: 1em;
    font-family: AvenirNorm;
}
=======
.DashStockGridHeader{
  font-size: 1em;  
  font-family: AvenirNorm;
}


/* Mobile Version */
@media (max-width: 414px){
  section{
   display: block;
  }
  h2{
    text-align: center;
  }
  #text{
    text-align: center;
  }
}
>>>>>>> 0793325be768c43d74eca2dfaea0c79f7314a51d
