@font-face {
    font-family: AvenirFett;
    src: url("./fonts/Avenir/AvenirFett.otf");
  }

  @font-face {
    font-family: AvenirNorm;
    src: url("./fonts/Avenir/AvenirNormal.otf");
  }



h2{
    color: #4C4C66;
    font-size: 1.7em;
    
}

#text{
    color: #6F6C99;
} 

section{
display: grid;
grid-template-columns: repeat(2, 40%);
grid-template-rows: repeat(4, auto);
grid-gap: 80px;
}

.DashStockGridHeader{
  font-size: 1em;  
  font-family: AvenirNorm;
}


/* Mobile Version */
@media (max-width: 414px){
  section{
   display: block;
  }
  h2{
    text-align: center;
  }
  #text{
    text-align: center;
  }
}