@font-face {
    font-family: AvenirFett;
    src: url("./fonts/Avenir/AvenirFett.otf");
  }

  @font-face {
    font-family: AvenirNorm;
    src: url("./fonts/Avenir/AvenirNormal.otf");
  }

.DashStockGrid {
    color: #333;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 0.5rem 2rem;
}
.DashStockGridHeader {
    font-size: 1.2em;
    font-weight: 900;
    border-bottom: 1px solid black;
    font-family: AvenirNorm;
}
.DashStockGrid p:first-of-type {
    text-align: left;
}

.DashStockGrid p:nth-child(2){
    text-align: center;
}

.DashStockGrid p:not(:first-of-type) {
    text-align: Right;
}

.DashStockElement a {
    text-decoration: none;
}
.DashStockElement:nth-of-type(even) {
    background: #fef8f8;
}
