@font-face {
    font-family: HelvThin;
    src: url("./fonts/Helvetica-Neue-Font/Helvetica\ Neue\ UltraLight/Helv1.ttf");
  }

@font-face {
    font-family: HelvThick;
    src: url("./fonts/Helvetica-Neue-Font/Helvetica\ Neue\ Medium\ Extended/Helv2.ttf");
}

@font-face {
    font-family: HelvMiddle;
    src: url("./fonts/Helvetica-Neue-Font/Helvetica\ Neue\ W01\ 66\ Medium\ It/Helv3.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');


#stockHeader{
    color: #4C4C66;
    font-family: HelvThick ;
}

#stockText{
    color: grey;
    font-family: HelvThin;
}

.StockHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



